<app-login-layout 
title="login into  your acconunt"
primaryBtnText="Login Now"
secundaryBtnText="Signup Now"
(submit)="submit()"
(navigate)="navigate()"
[disablePrimaryBtn]="!loginForm.valid"
>
<form [formGroup]="loginForm">
    <app-primary-input
    formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="johndoe@gmail.com"
    >

        <img src="/assets/email.png" class="email">
        
    </app-primary-input>

    <app-primary-input 
    formControlName="password"
        inputName="password"
        type="password"
        label="Your Password"

    >
    <img src="/assets/cadeado.png" class="cadeado">
    

    </app-primary-input>
    <span>Forgot password?</span>

</form>
</app-login-layout>